---
import { getProjectCounts } from "@/utils/projects-utils";
import projects from "@/data/projects";
const projectCounts = getProjectCounts(projects);
const nameMap = {
  "emaar": 'Emaar® Waterfront Properties',
  "hmr": 'HMR® Waterfront Properties',
};
---

<div class="fixed bottom-0 mb-[1rem]">
  <ul
    class="flex flex-col md:lg:flex-row md:lg:gap-x-[2rem]">
    {Object.entries(projectCounts).map(([key, value]) => (
    <li
      role="button"
      class="group hover:text-gray-1 transition duration-500 text-gray-2 text-sm -tracking-[0.03em] default:tracking-normal flex items-center">
      {nameMap[key]}
      <sup
        class="group-hover:text-gray-1 transition duration-500 text-gray-2 pl-[1rem]"
        >{value}</sup>
    </li>
    ))}
  </ul>
</div>
