---
const { filters } = Astro.props;
---

<div
  id="projects-sidebar"
  class="flex-1 sticky top-0 h-screen duration-750 hidden md:flex z-10 opacity-0 -translate-x-full"
>
  <aside data-lenis-prevent="true"
    class="flex h-screen desktop:pt-40 pt-32 w-[388px] sticky top-0 overflow-x-visible"
    data-cursor="default"
  >
    <div data-cursor="default">
      {Object.entries((filters)).map(([key, filter]) => (
        <section class="pr-12 pb-16">
          <div class="text-gray-500 text-sm font-semibold mb-4 capitalize">{key}</div>
          <ul>
            {JSON.stringify(filters)}
            {/* {filter.map((item) => (
              <li class="truncate group text-gray-700 hover:text-black transition-colors duration-200">
                <button class="flex items-stretch h-full py-1 relative w-full text-left">
                  <div class="flex items-stretch w-10 relative bg-blue-200 group-hover:w-full transition-all duration-300"></div>
                  <span class="relative z-10">{item}</span>
                </button>
              </li>
            ))} */}
          </ul>
        </section>
      ))}
    </div>
  </aside>
</div>

<style is:global>
  /* Custom utility for desktop-specific padding */
  .desktop\:pt-40 {
    padding-top: 10rem; /* 160px */
  }
</style>